{% load pwa %}
{% load static %}


<html>
	<head>
		{% progressive_web_app_meta %}

<!--Título: nome fantasia cadastrado -->
		<title>
			 {% for item in dados_gerais %}
						{{ item.nome_fantasia }}
			{% endfor %}
		</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/theme-blue.css" %}'/>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header" >

									<!--Logomarca -->
									<div class="topo">
										{% for item in dados_gerais %}
											<img id="logomarca" src='{{ item.logomarca.url }}' float="left">
										{% endfor %}
									</div>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>
												{% for item in dados_gerais %}
													<h1>{{ item.nome_fantasia }}</h1>
												{% endfor %}
											</h1>


										</header>

											{% for item in dados_gerais %}
													<p>{{ item.breve_descrição_da_empresa }}</p>
											{% endfor %}
									</div>
								</section>

<!-------------------------------------------- Anunciantes de produtos ------------------------------------------------>
							{% for item in dados_gerais %}
								{% if item.tenho_interesse_em_anunciar == 'Produtos' %}
									<div class="features">
										<article>
											<a href="produtos"><span class="icon solid fa-shopping-cart"></span></a>
											<div class="content">
												<h2>Conheça nossos produtos</h2>
												<p>Pesquise e economize!<br>
													Acesse o catálogo virtual e confira nossas ofertas! <br><a href="produtos">Clique aqui!</a>
												</p>
											</div>
										</article>

										<article>
											<a href="/home/cadastro"><span class="icon solid fa-bullhorn"></span></a>
											<div class="content">
												<h2>Anuncie aqui!</h2>
												<p>Conheça a solução Conecte!<br>
													E saiba como disponibilizar	a sua marca na web! <br><a href="/home/cadastro">Clique aqui!</a>
											</div>
										</article>
									</div>
								{% endif %}
							{% endfor %}

<!--------------------------------------------- Anunciantes de serviços ----------------------------------------------->
							{% for item in dados_gerais %}
								{% if item.tenho_interesse_em_anunciar == 'Serviços' %}
									<div class="features">
										<article>
											<a href="servicos"><span class="icon solid fa-clipboard-list"></span></a>
											<div class="content">
												<h2>Acesse nossos serviços</h2>
												<p>Faça-nos uma visita!<br>
													E conheça nossas soluções!<br>
													<a href="/home/cadastro">Clique aqui!</a>
												</p>
											</div>
										</article>

										<article>
											<a href="/home/cadastro"><span class="icon solid fa-bullhorn"></span></a>
											<div class="content">
												<h2>Anuncie aqui!</h2>
												<p>Conheça a solução Conecte!<br>
													E saiba como disponibilizar	a sua marca na web! <br><a href="/home/cadastro">Clique aqui!</a>
											</div>
										</article>
									</div>
								{% endif %}
							{% endfor %}

<!---------------------------------------- Anunciantes de produtos e serviços ----------------------------------------->

							{% for item in dados_gerais %}
								{% if item.tenho_interesse_em_anunciar == 'Produtos e serviços' %}
									<div class="features">
										<article>
											<a href="produtos"><span class="icon solid fa-shopping-cart"></span></a>
											<div class="content">
												<h2>Conheça nossos produtos</h2>
												<p>Pesquise e economize!<br>
													Acesse o catálogo virtual e confira nossas ofertas! <br><a href="produtos">Clique aqui!</a>
												</p>
											</div>
										</article>

										<article>
											<a href="servicos"><span class="icon solid fa-clipboard-list"></span></a>
											<div class="content">
												<h2>Conheça nossos serviços</h2>
												<p>Quanto mais empresas anunciam,<br>
													mais serviços e produtos estarão disponíveis para consulta!</p>
											</div>
										</article>
									</div>
								{% endif %}
							{% endfor %}

<!---------------------------------------------------- Contato -------------------------------------------------------->

							<hr>
							<h2>Contato:</h2>
							<br>




							<ul class="contact">
								{% for item in dados_gerais %}
									<li class="icon solid fa-envelope">{{ item.email }}</li>
									<li class="icon solid fa-phone">Fixo: {{ item.telefone_fixo }} / WhatsApp: {{ item.celular_whatsapp }}</li>
									<li class="icon solid fa-clock">Atendimento das {{  item.horario_de_atendimento }}<br />
									<li class="icon solid fa-map-marker-alt">{{  item.endereço }} {{  item.cidade }}-{{ item.estado }}<br />
								{%endfor%}
							</ul>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="../..">Home</a></li>
										<li><a href="/home/empresas">Guia Comercial</a></li>
										<li><a href="/admin">Administração</a></li>
									</ul>
								</nav>
							<footer id="footer">
								<p class="copyright">&copy; All rights reserved. GONÇALVES, André Luiz de Jesus.</p>
							</footer>


						</div>
					</div>

			</div>




		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>


	</body>
</html>