{% load static %}
<html>
	<head>
		<title>Administração</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/login_logout.css" %}'/>
	</head>
	<body>
      <div class="tela_login">

        <div class="caixa_login">

                  <img id="img_login" src='{% static "images/site/login.png" %}' alt="" />


                      {% if validlink %}
                        <h3>Change password</h3>
                        <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">Change password</button>
                        </form>
                      {% else %}
                        <p>
                          The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.
                        </p>
                      {% endif %}
        </div>
      </div>
    </body>
</html>