{% load static %}


<html>
	<head>
		<title>conecte.online</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/main-home.css" %}'/>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
								<header id="header">
									<!--Logomarca -->
									<div class="topo">
											<img id="logomarca" src='{% static "images/logomarca/home.png" %}' alt="" />
									</div>
								</header>

									<!-- TÍTULO -->
									<div class="features">
										<article>
											<div class="content">
												<br>
												<h1>conecte.online</h1>
												Economize e valorize as empresas do seu bairro!
											</div>
										</article>

									</div>

									<!-- TABELA DE RESULTADOS DA BUSCA -->
									<table class="table table-striped">
										{% for value in list|slice:":1" %}
											{% if value.nome_fantasia != '' %}
												<hr>
												<h7>Resultado da pesquisa:</h7><br><br>
												<thead class="thead-dark">
													<tr>
														<th scope="col">Empresa</th>
														<th scope="col">Telefone</th>
													</tr>
												</thead>
											{% endif %}
										{% endfor %}

										{% for value in list %}
												<tbody>
													<tr>
														<td><a href="/{{value.observações}}">{{value.nome_fantasia}}</a></td>
														<td>{{value.telefone_fixo}}</td>
													</tr>
												</tbody>
										{% endfor %}
									</table>

									<!-- REALIZAR UMA NOVA BUSCA -->
										{% for value in list|slice:":1" %}
											<hr>
											<h7>Faça uma nova pesquisa:</h7><br><br>
										{% endfor %}
									<!-- BARRA DE BUSCA -->
									<div class="features">
										<article>
											<div class="content">
												<form method=”GET”>
													<input type="text" class="form-control" placeholder="Pesquise por produtos, serviços ou empresas" name="search" id="search">
													<br>
													<div class=”input-group-prepend”>
														<button class=”btn btn-outline-secondary” type=”submit” id=”button-addon1">Buscar</button>
													</div>
												</form>
											</div>
										</article>
										<!-- COMPLEMENTO A DESENVOLVER....-->

									</div>
									<hr>
									<div class="features">
										<article>
											<div class="content">

													<h2>Anuncie e conecte!</h2>

												<p>Cadastre sua empresa e obtenha um espaço exclusivo para anunciar
													serviços, produtos e ofertas!<br /><br />
												<b><a href="/home/novo_cliente">Clique aqui e saiba mais!</a></b>
											</div>
										</article>


										<article>
											<div class="content">

													<h2>Quem somos?</h2>

												<p>A <b>conecte.online</b> é uma solução cujo objetivo é oferecer um espaço
													de divulgação na internet para pequenas e microempresas.</p>
												<b><a href="#">Clique aqui e saiba mais!</a></b>
											</div>
										</article>
									</div>



						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->


							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="../..">Home</a></li>
										<li><a href="/home/empresas">Guia Comercial</a></li>
										<li><a href="{% url 'login'%}?next={{request.path}}">Administração</a></li>
										<li><a href="#">Sobre nós</a></li>

									</ul>
								</nav>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>

	</body>

