{% load static %}


<html>
	<head>
		<title>conecte.online</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/main-home.css" %}'/>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
								<header id="header">
									<!--Logomarca -->
									<div class="topo">
											<img id="logomarca" src='{% static "images/logomarca/home.png" %}' alt="" />
									</div>
								</header>

							<!-- Banner -->

									<div class="content">
										<br>
										<h2>
											Preencha o formulário a seguir!
										</h2>

										<p>ATENÇÃO! INFORME TODOS OS DADOS CORRETAMENTE!<br>
										<p>A partir das informações aqui prestadas, será construída uma página na internet e o perfil de acesso
                                            para administração do seu conteúdo, de uso exclusivo ao portador do e-mail informado!</p>
									</div>

                                    <body>

                                        <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <br>
                                        <button type="submit">Enviar as informações</button>
                                        </form>
                                    </body>					<!-- Section -->
								<section>



							<!-- Section -->
								<section>
									<hr>
									<header class="major">
										<h2>Contato:</h2>
									</header>
									<ul class="contact">
											<li class="icon solid fa-envelope"> andre.tecnologia@live.com</li>
											<li class="icon solid fa-phone"> (62) 99286-7365</li>
											<li class="icon solid fa-comment"> (62) 99286-7365</li>
									</ul>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">



							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="../..">Home</a></li>
										<li><a href="/home/empresas">Empresas</a></li>
										<li><a href="/admin">Administração</a></li>
										<li><a href="#">Sobre nós</a></li>

									</ul>
								</nav>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved.</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>

	</body>

