{% load static %}


<html>
	<head>
		<title>conecte.online</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/main-empresas.css" %}'/>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">

									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
										<h6>
											Guia comercial on-line!
										</h6>
										<hr>

										</header>
									</div>

								</section>


							<!-- Section -->
								<section>
									<div class="posts">

										<article>
											<a href="../.." class="image"><img src="{% static 'images/logomarca/conecte.png' %}" alt="" /></a>
											<h4>Contato: (62) 99286-7365</h4>
										</article>

										<article>
											<a href="/jccontabilidade" class="image"><img src="{% static 'images/logomarca/jccontabilidade.png' %}" alt="" /></a>
											<h4>Contato: (62) 99133-4535</h4>
										</article>

										<article>
											<a href="/lgdistribuidora" class="image"><img src="{% static 'images/logomarca/lgdistribuidora.png' %}" alt="" /></a>
											<h4>Contato: (62) 99174-8225</h4>
										</article>

										<article>
											<a href="/supercompras" class="image"><img src="{% static 'images/logomarca/supercompras.png' %}" alt="" /></a>
											<h4>Contato: (62) 11111-11111</h4>
										</article>

										<article>
											<a href="#" class="image"><img src="{% static 'images/logomarca/yuripersonal.png' %}" alt="" /></a>
											<h4>Contato: (62) 99133-4535</h4>
										</article>

										<article>
											<a href="/lgdistribuidora" class="image"><img src="{% static 'images/logomarca/novaideiaeventos.png' %}" alt="" /></a>
											<h4>Contato: (62) 99174-8225</h4>
										</article>

									</div>

								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="../..">Home</a></li>
										<li><a href="/home/empresas">Guia Comercial</a></li>
										<li><a href="/accounts/login">Administração</a></li>
										<li><a href="#">Sobre nós</a></li>

									</ul>
								</nav>




							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; a definir <a href="https://unsplash.com">Unsplash</a>. Design: <a a definir</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>

	</body>