{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device, initial-scale=1.0"/>
    <link rel="stylesheet" href='{% static "assets/css/main.css" %}'/>
    <link rel="stylesheet" href='{% static "assets/images/pic10.jpg" %}'/>
    <title>
         {% for item in dados_gerais %}
                    {{ item.nome_fantasia }}
        {% endfor %}
    </title>
</head>
<body>
    <div class="container-fluid">

        {% block menu %}
        {% endblock %}

        {% block main %}
        {% endblock %}

    </div>

</body>
</html>