{% load pwa %}
{% load static %}


<html>
	<head>
		{% progressive_web_app_meta %}
<!------------------------------------------Título: nome fantasia cadastrado ------------------------------------------>
		<title>
			 {% for item in dados_gerais %}
						{{ item.nome_fantasia }}
			{% endfor %}
		</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/theme-blue.css" %}'/>

	</head>
	<body class="is-preload">
			<div id="wrapper">
					<div id="main">
						<div class="inner">
								<header id="header" >
									<div class="topo">
<!------------------------------------------------------ Logomarca ---------------------------------------------------->
										{% for item in dados_gerais %}
											<img id="logomarca" src='{{ item.logomarca.url }}' float="left">
										{% endfor %}
									</div>
								</header>

									<div class="content">
											<h1>
												{% for item in dados_gerais %}
													<h1>{{ item.nome_fantasia }}</h1>
												{% endfor %}
												<br>
											</h1>
									</div>

<!--------------------------------------------------- Nossos serviços ------------------------------------------------->
							{% for item in dados_gerais %}

										<div class="posts">
											{% for anuncio_serviço in anuncio_serviços %}
												{% if anuncio_serviço.id != 0 %}
												<article>
													<h3>{{ anuncio_serviço.nome_do_serviço }}</h3>
													<!-- Imagem do produto -->
													<div class="container">
														<div class="row">
															<div class="col-12">
																<a class="image">
																	<img src= '{{ anuncio_serviço.imagem_do_serviço.url }}'>
																</a>
															</div>
														</div>
													</div>
													<!-- Informações sobre o serviço -->
													<br>
													<h5>{{ anuncio_serviço.Informações_sobre_o_serviço }}</h5>
												</article>
												{% endif %}
											{% endfor %}
										</div>
							<hr>
							{% endfor %}

<!------------------------------------------------------ Contato ------------------------------------------------------>

									<header class="major">
										<h2>Contato:</h2>
									</header>
									<ul class="contact">
										{% for item in dados_gerais %}
											<li class="icon solid fa-envelope">{{ item.email }}</li>
											<li class="icon solid fa-phone">{{ item.telefone_fixo }}</li>
											<li class="icon solid fa-comment">{{ item.celular_whatsapp }}</li>
											<li class="icon solid fa-clock">Atendimento das {{  item.horario_de_atendimento }}<br />
											<li class="icon solid fa-map-marker-alt">{{  item.endereço }} {{  item.cidade }}-{{ item.estado }}<br />
										{%endfor%}
									</ul>

						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>
								Search -->
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="../..">Home</a></li>
										<li><a href="/home/empresas">Guia Comercial</a></li>
										<li><a href="/admin">Administração</a></li>
									</ul>
								</nav>
							<footer id="footer">
								<p class="copyright">&copy; All rights reserved. GONÇALVES, André Luiz de Jesus.</p>
							</footer>
						</div>
					</div>
			</div>
		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>
	</body>
</html>